# Ignore Python, VSCode and system files
.venv/
__pycache__/
*.pyc
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
node_modules/
# Never commit secrets or keys
*.json
*.key
*.env


